
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        簡單工廠模式(Simple Factory Pattern)
    </title>
</head>
<body>
    <div>
        (*ﾟ∀ﾟ*) <==客戶        （¯﹃¯）<==工廠
    </div>
    <hr />
    <div>
        (*ﾟ∀ﾟ*)：我需要一個箱子<br />
        （¯﹃¯）：<img src="@Url.Content(ViewBag.Box)" width="200" alt="箱子" />
    </div>
    <hr />
    <div>
        (*ﾟ∀ﾟ*)：我想要吃飯：<br />
        （¯﹃¯）：<img src="@Url.Content(ViewBag.Food)" width="200" alt="滷肉飯" />
    </div>
    <hr />
    <div>
        (*ﾟ∀ﾟ*)：我想打Switch!：<br />
        （¯﹃¯）：<img src="@Url.Content(ViewBag.Toy)" width="200" alt="Switch" />
    </div>
</body>
</html>
